.profile {
  margin: auto;
  width: 300px;
  background-color: #f0f6fc;
  padding: 20px;
  justify-content: center;
  border: 1px solid gray;
}

.description {
  background-color: white;
  padding: 20px;
}

.stats {
  padding: 20px;
  list-style: none;
  background-color: white;
}
